# =========================
# Django Core
# =========================
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=https://your-domain.com
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

# =========================
# Database
# =========================
DATABASE_URL=postgres://saccosphere:saccosphere@localhost:5432/saccosphere

# =========================
# Redis / Celery
# =========================
REDIS_URL=redis://127.0.0.1:6379/0

# =========================
# M-Pesa (Daraja)
# =========================
MPESA_CONSUMER_KEY=Dq2A5Ey5VM20UOunRBxAz31BnFtKipHg9GM3knwoYmchG3yb
MPESA_CONSUMER_SECRET=rCLRhpG6ktfJGIz9Dffr9ujXneE4s0wCwYF4qak2bqf4msgcCcmcnNZY3JIKwkJV
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_ENVIRONMENT=sandbox
MPESA_CALLBACK_BASE_URL=https://trinocular-belated-mariyah.ngrok-free.dev/api/v1/mpesa/callbacks/
MPESA_B2C_INITIATOR_NAME=testapi
MPESA_B2C_SECURITY_CREDENTIAL=XVvSrE95n6EIVBhirVMqyexkAp0ibZIXY39AMVCxkBXieqbNmXuGMqrWsdLG06pYdApRZlitLLV1cOO2uMy3EdRlaVWXfQ2+uMR2Cur3oFMh+vs0x3baPss3uayMcVvYYshzZvMJ2L7IytJeiTRp2G+kow7Q+sPODL18Ph/OQnEPePwrRHe8J1mG9bTvNT9/jOTTdeiNVQf0SI6TbZQQcFNJkw3r3lKFsObQBihFPaCazYuYbevxT0/rXo1RJsUFGfGG+w4QF30YyvFG+fjW/OuLV1kOwft0afDkmRsW8Vb5ue5hjCKoZ2TSD1DRKM+h5ZfZ6FQELM3dj75Tdulpqg==

# =========================
# Africa's Talking (SMS)
# =========================
AT_USERNAME=sandbox
AT_API_KEY=

# =========================
# Firebase Cloud Messaging
# =========================
FCM_SERVER_KEY=

# =========================
# IPRS
# =========================
IPRS_API_KEY=
IPRS_API_URL=https://iprs-mock.saccosphere.dev/verify
IPRS_MOCK=True

# =========================
# Email
# =========================
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=no-reply@example.com
EMAIL_HOST_PASSWORD=change-me
DEFAULT_FROM_EMAIL=SaccoSphere <no-reply@example.com>

# =========================
# Sentry
# =========================
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.1

# =========================
# Billing / Collections
# =========================
BILLING_ACCOUNT_NAME=Realwinners Ltd
BILLING_ACCOUNT_NUMBER=0123456789
BILLING_PAYBILL=400200
